{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

<!--для того чтоб сделать отступ сверху-->
<main role="main" class="container">

  <div class="starter-template">
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main>

<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Home Page</h1>
    <p class="lead">My first article app from Django</p>
    <p>Use <a href="{% url 'articles:index' %}">articles</a> app.</p>
    <p>Use <a href="{% url 'polls:index' %}">polls</a> app.</p>
    <p>Use <a href="{% url 'weather:weather' %}">weather</a> app.</p>
    <p>Use <a href="http://127.0.0.1:8000/admin/">admin</a> panel.</p>

  </div>
</main>

{% endblock %}
