{% extends 'base.html' %}

{% block title %}{{view_article_text.article_title}}{% endblock %}

{% block content %}

<!--для того чтоб сделать отступ сверху-->
<main role="main" class="container">

  <div class="starter-template">
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

</main>

<!--название статьи-->
    <h2>{{view_article_text.article_title}}</h2>
<!--проверка на новую статью-->
    {% if view_article_text.was_published_recently %}
        НОВАЯ СТАТЬЯ!
    {% endif %}
<!--текст статьи-->
    <p>{{view_article_text.article_text}}</p>
<!--дата публикации-->
    <h4><em>{{view_article_text.pub_date}}</em></h4>

<!--полоски-->
<hr>
<hr>

{% if latest_coment_list %}
    {% for i in latest_coment_list %}
        <p>
            <strong>{{i.coment_autor}}</strong><br>
            {{i.coment_text}}
        </p>
    {% endfor %}
{% else %}
Коментарии не найдены, будьте первым.
{% endif %}
<hr>
<hr>

<!--поле коментариев-->
<form action="{% url 'articles:leave_comment' view_article_text.id %}" method="POST">
<!--    защита от csrf атак-->
    {% csrf_token %}
<!--    поле для введения имени-->
    <input type="text" required placeholder="Ваше имя" name="name"><br>
<!--    поле написания комментария-->
    <textarea name="text" required="" placeholder="Текст коментария" cols="30" rows="10"></textarea><br>
<!--    кнопка оставлеия коментария-->
    <button type="submit">Оставить коментарий</button>
</form>

{% endblock %}